html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  background-image: linear-gradient(#615dad, #ffc8da);
  height: 800px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 60px;
  text-align: center;
  font-weight: 100;
  margin: 30px;
}

.text {
  color: white;
  text-align: center;
  padding: 3px;
  margin: 8px 8px 40px 8px;
  line-height: 1.5;
}

.kontejner {
  width: 400px;
}

.povidani {
  background-color: #283e50;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.pravidla {
  background-color: #1fcca4;
  height: 50px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: medium;
  font-size: 18px;
}

.hrat {
  background-color: #0197f6;
  height: 50px;
  font-family: sans-serif;
  font-size: 18px;
}

a {
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 15px;
}

.pravidla:hover {
  background-color: #1cbb96;
  
}

.hrat:hover {
  background-color: #0090e9;
}

img {
  width: 400px;
  border-radius: 7px 7px 0px 0px;
  display: block;
}

