html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  height: 800px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


.kontejner {
  width: 400px;
  flex: 0 1 auto;
  background-color: #283e50;
}

img {
  width: 400px;
  border-radius: 7px 7px 0px 0px;
  display: block;
}




h1 {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 60px;
  text-align: center;
  font-weight: 100;
  margin: 30px;
}

.text {
  color: white;
  text-align: center;
  padding: 3px;
  margin: 8px 8px 40px 8px;
  line-height: 1.5;
}

.povidani {
  
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.pravidla {
  background-color: #1fcca4;
  height: 50px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: medium;
  font-size: 18px;
}


.hrat {
  background-color: #0197f6;
  height: 50px;
  font-family: sans-serif;
  font-size: 18px;
  border-top: 0.5px solid #283e50; 
  ;
}


a {
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 15px;
}

.pravidla:hover {
  background-color: #1cbb96;
}

.hrat:hover {
  background-color: #0090e9;
 
}
 /*zde začíná css pro list Pravidla*/
 /*---------------------------------------*/


.pravidla__body{
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:auto;
  /*min-height: 100vh;*/
}
.pravidla__kontejner{
  width: 400px;
  flex: 0 1 auto;
  background-color: #283e50;
  margin-top: 80px;
  margin-bottom: 30px;
  border-radius: 8px;
}

.pravidla__povidani{
  color: white;
  /*line-height: 1.5;*/
  text-align: start;
  padding: 70px;
}

.pravidla__odrazky{
font-family: sans-serif;
}

.pravidla__ukazky{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.pravidla__ikona{
  width: 1rem;
  filter: invert(100%);
  /*float: left;*/
}
.pravidla__obrazek{
  width: 300px;
  border-radius: 0ex;
  flex: 0 1 auto;
  
  padding-right: 0;
}
.pravidla__popisek-obrazku{
  color: white;
  font-family: sans-serif;
  padding-right: 0;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-style: italic;
}
.pravidla__navtlac--uvod{
  background-color: #1fcca4;
  height: 50px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: medium;
  font-size: 18px;
}
.pravidla__navtlac--hrat{
  background-color: #0197f6;
  height: 50px;
  font-family: sans-serif;
  font-size: 18px;
  border-top: 1.5px solid #283e50; 
}
.pravidla__navtlac--uvod:hover{
  background-color: #1cbb96;
}
.pravidla__navtlac--hrat:hover{
background-color: #0090e9;
}

 @media screen and (min-width: 800px) {
   .pravidla__kontejner{
     width:750px;
   }
   .pravidla__ukazkyflex{
     display:flex;
     
   }
   .pravidla__figure{
     flex: 0 1 auto;
   }
 }
