html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  height: 800px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


.kontejner {
  width: 400px;
  flex: 0 1 auto;
  background-color: #283e50;
}

img {
  width: 400px;
  border-radius: 7px 7px 0px 0px;
  display: block;
}




h1 {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 60px;
  text-align: center;
  font-weight: 100;
  margin: 30px;
}

.text {
  color: white;
  text-align: center;
  padding: 3px;
  margin: 8px 8px 40px 8px;
  line-height: 1.5;
  font-family: sans-serif;
}

.povidani {
  
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.tlzelene {
  background-color: #1fcca4;
  height: 50px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: medium;
  font-size: 18px;
}


.tlmodre {
  background-color: #0197f6;
  height: 50px;
  font-family: sans-serif;
  font-size: 18px;
  border-top: 0.5px solid #283e50; 
  ;
}


a {
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 15px;
}

.tlzelene:hover {
  background-color: #1cbb96;
}

.tlmodre:hover {
  background-color: #0090e9;
 
}
 /*zde začíná css pro stránku Pravidla*/
 /*---------------------------------------*/


.body{

  height:auto;
 
}
.pravidla{
  width: 400px;
  flex: 0 1 auto;
  background-color: #283e50;
  margin-top: 80px;
  margin-bottom: 30px;
  border-radius: 8px;
}

.pravidla__povidani{
  color: white;
  text-align: start;
  padding: 70px;
}

.pravidla__odrazky{
font-family: sans-serif;
}


.pravidla__ikona{
  width: 1rem;
  filter: invert(100%);
  display: inline-block;
}
.figobrazek{
  width:100%;
  border-radius: 0ex;
  flex: 0 1 auto;
  padding-right: 0;
}
.pravidla__ukazky{
  padding: 0 20px;
}
.figcaption{
  color: white;
  font-family: sans-serif;
  padding-right: 0;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-style: italic;
}


 @media screen and (min-width: 800px) {
   .pravidla{
     width:750px;
   }
  
   .pravidla__povidani{
     padding: 25px;
   }
  
   .pravidla__ukazky{
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    
  }
  .figure{
    flex-basis: calc((100% - 20px) / 2);
    margin: 0;
  

  }
  }