html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


.body{
  background-image:linear-gradient(#615dad, #ffc8da);
  height: 800px;
  background-repeat: no-repeat;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
h1{
  color:white;
  font-family: 'Lobster', cursive;
  font-size: 35px;

}


.text{
  color:white;
  text-align: center;
  padding: 3px;
}
.kontejner{
 
  width:300px;
 
  
  

}
.povidani{
  background-color: #283e50;
  display:flex;
  flex-direction: column;
  text-align: center;
  margin:0px;
  padding:0px;
}
.pravidla{
  background-color: #1fcca4;
 height:50px;



}
.hrat{
  background-color: #0197f6;
  height: 50px;
 
}
a{
  display:block;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 15px;
}

img{
  width: 300px;
 border-radius: 10px 10px 0px 0px;
  display:block;
}
